body{ background:url("https://image.shutterstock.com/image-vector/background-illustration-math-symbols-formulas-260nw-730379383.jpg")
}
h1{
  border:10px solid black;
  width:500px;
  background-color:white;
  color:green;
  font-family:monospace;
  font-size:50px;
}
button{
  color:green;
  font-size:30px;
}
.login:hover{
  color:blue;
  cursor:pointer;
}
#player_1{
  border-radius:5px;
  border-width:5px;
 border-color:black;
  font-size:20px;
}
#player_2{
  border-radius:5px;
  border-width:5px;
 border-color:black;
  font-size:20px;
}


